
<div ng-controller="emergencyAllergiesController">
    <!-- //  edit Health Card  -->
    <!-- preference_allergies -->
    <div class="vault-row">
        <div class="vault-label">
            <!--{{tess | json}}-->
            <label>{{field.label}}</label>
        </div>
        <div class="vault-field-edit">
            <rgu-smart-input ng-model="field.value" placeholder="List your allergies">
            </rgu-smart-input>
        </div>
    </div>
    <div class="vault-row">
        <div class="vault-label">
            <label></label>
        </div>
        <div class="vault-field-edit">
            <button class="btn btn-default" ng-click="Cancel()" href="#">Cancel</button>
            <button class="btn btn-primary " ng-disabled="field.value.length  == 0" ng-click="Save()" href="#">Save</button>
        </div>
    </div>
</div>
