h3 {
    clear: both;
}

.delegation-grid table *, .campaigns-grid table * {
    border: none;
}
.campaigns-grid {
    width: 100%;
}
.campaigns-grid th {
    font-weight: normal;
    color: #00adef;
    text-align: center;
}

.delegation-grid th {
    color: #666;
}

.delegation-grid td, .campaigns-grid td {
   text-align: center;
}

.grid-tab-btn {
    border: none;
}

.campaign-indicator {
    display: inline-block;
    color: #00adef;
    border: 1px solid #00adef !important;
    border-radius: 4px;
    font-variant: all-small-caps;
    width: 2em; height: 26px;
    text-align: center;
    font-weight: bold;
}

.campaign-indicator-inner {
    width: 80%; height: 18px; line-height: 14px;
    display: inline-block;
    margin: auto;
    border-radius: 4px;
    vertical-align: middle;
}
.campaign-indicator.campaign-status-pending .campaign-indicator-inner {
    border-color: mediumseagreen !important;
}
.campaign-indicator.campaign-status-expired {
    border-color: #aaa !important;
    color: #aaa;
}
.campaign-status-active .campaign-indicator-inner {
    background-color: #00adef;
    color: white;
}
.campaign-status-pending .campaign-indicator-inner {
    background-color: mediumseagreen;
    color: white;
}
.campaign-draft .campaign-indicator{
   border-color: #666 !important;
    color: #666;
}
.campaign-template .campaign-indicator{
   border-color: #760f1c !important;
    color: #760f1c;
    background-color: white;
}
.campaign-template .campaign-indicator-inner {
}

[uib-pagination] {
    top: 0;
    display: block !important;
    margin: 0 auto 10px !important;
    max-width: 50%;
}
.pagination>li>a, .pagination>li>span {
    border: none;
}

/*  CAMPAIGNE MODULE */
.form-campaigns {
    margin: 0;
}

.form-campaign fieldset {
    padding-bottom: 0;
}

.ad-name .field-value {
    font-weight: bold;
    font-size: 110%;
}

.grid-dropdown-filters {
    float: right;
}
.dropdown-filter-btn {
    background: none;
    border: none;
    box-shadow: none !important;
    font-size: 90%;
    margin-bottom: 4px;
    color: #888;
}
.btn-filter-campaigns {
    float: right;
    width: auto;
}

.btn-filter-campaigns button {
    border: none;
}

.campaigns-name {
    text-align: left !important;
}

.campaign-status-active .campaigns-name {
    font-weight: bold;
}
.campaign-status-pending .campaigns-name {
    font-weight: bold;
    color: mediumseagreen;
}
.campaign-status-expired td {
    color: #999;
}

.grid-heading {
    background-color: #e3f4fd;
    padding: 8px 0 0 8px;
    margin: 10px 0 0 0;
    clear: both;
}

.grid-actions a, .campaigns-actions a {
    margin-right: 14px;
}

.grid-status, .campaigns-status {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: transparent url(../img/campaigns-status-active.png) no-repeat center center;
    text-indent: -999999px;
    vertical-align: middle;
}

.grid-status-inactive, .campaigns-status-inactive {
    background-image: url(../img/campaigns-status-inactive.png);
}

.grid-status-pending, .campaigns-status-pending {
    background-image: url(../img/campaigns-status-pending.png);
}


.grid-status-expired, .campaigns-status-expired {
    background-image: none;
}

.grid-status table, .campaigns-grid table {
    border: 1px solid #ccc;
    font-size: 90%;
}

.delegation-expires-soon, .campaigns-expires-soon {
    color: red;
}

.campaigns-exceeds-target {
    color: green !important;
}

.campaigns-row-expired {
    color: #aaa !important;
}

.pagination {
    margin: 0;
}

.pagination-page.active a {
    background: #00adef;
}

.cta-heading {
    color: #00adef;
}

.cta {
    display: inline-block;
    width: 80px;
    height: 72px;
    background: #00adef url(../img/campaign-new-ad.png) no-repeat  center 6px;
    padding: 54px 0 0 0;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-right: 10px;
}
.cta:hover {
    color: white;
}
.cta-reg {
    background-image: url(../img/campaign-new-reg.png);
}
.cta-evt {
    background-image: url(../img/campaign-new-event.png);
}

.campaign-role-indicator {
    border-radius: 6px;
    padding: 2px 4px;
    position: absolute;
    top: 70px; left: 10px;
    color: #999;
    border: 1px solid #999;
    z-index: 100;
    font-variant: all-small-caps;
    background-color: white;
}

.top-buttons {
    float: right;
    z-index: 1200;
}
.steps {
    padding-top: 4px;
    width: 50%;
}

.steps ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.steps li {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #d0d0d0;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    line-height: 30px;
    margin-right: 32px;
    z-index: 100;
}

.steps li.active, .steps li.passed {
    background: #00adef;
}

.steps li::after {
    content: "";
    display: block;
    width: 40px;
    height: 6px;
    background: #d0d0d0;
    margin: -18px 0 0 30px;
    z-index: -1;
}

.steps li.last::after {
    content: normal;
}

.steps li.passed::after {
    background: #00adef;
}

.step {
    width: 120px;
    height: 24px;
    background: transparent url(../img/step1.png) no-repeat;
    text-indent: -99999px;
}

.step2 {
    background-image: url(../img/step2.png);
}

.step3 {
    background-image: url(../img/step3.png);
}

.budget-input-group input {
    width: 8em !important;
}

.preview-form-full {
    border: 2px dashed #00adef;
    padding: 30px;
    position: relative;
    margin-top: 20px;
}