a {
    outline: none;
}

.vault-intro {
    text-align: center;
    border: 1px solid #ddd;
    padding: 16px;
    padding-top: 20px;
}

.btn-vault-add {
    display: inline-block;
    background: transparent url(../img/btn-vault-add.png) no-repeat 10px center;
    height: 70px;
    margin: 12px auto;
    padding: 16px;
    padding-left: 50px;
    font-size: 120%;
    font-weight: 600;
    border: 1px solid #00adef;
    border-radius: 6px;
    line-height: 36px;
}

.vault-search {
    margin: 16px 0 0 0;
}

.search-vault {
    background: transparent url(../img/search-input.png) no-repeat 4px center;
    width: 18em;
    padding: 4px;
    padding-left: 20px;
    float: right;
    border: 1px solid #bbb;
    border-radius: 4px;
    margin-bottom: 20px;
}

.vault-group {
    border: 1px solid #ddd;
    clear: both;
}

.vault-group-header {
    border-bottom: 1px solid #ddd;
    height: 50px;
    padding: 8px 0 8px 20px;
    line-height: 32px;
}

.vault-group-content {
    padding: 10px;
}

.vault-group h4 {
    margin-top: 0;
    color: #a8a8a8;
    font-size: 140%;
    float: left;
    line-height: 32px;

}

.vault-group-actions {
    float: right;
    margin-right: 10px;
}

.btn-vault-action {
    border: none;
    background: none;
    color: #00adef;
    margin-right: 4px;
    display: inline-block;
}

.btn-cancel {
    color: #666;
}

.vault-row {
    clear: both;
    /*height: 30px;*/
}

.vault-row > div {
    display: inline-block;
    padding: 2px 8px;
}

.vault-label {
    width: 30%;
    color: #999;
    text-align: right;
    margin-right: 20px;
}

.vault-label label {
    vertical-align: middle;
    height: 100%;
}

.vault-field, .vault-field-edit {
    padding-left: 20px;
    width: 60%;
    position: relative;
}

.vault-row-divider {
    border-bottom: 1px solid #ddd;
    margin-bottom: 8px;
}

.vault-field-edit .select, .vault-field-edit .vault-input {
    width: 50%;
}

.vault-field-edit .select {
}

.control-fullsize {
    width: 100%;
}

.tags {
    width: 100% !important;
    border: none !important;
    box-shadow: none !important;
}

.tags input {
    width: 18em;
    font-size: 80% !important;
    padding: 2px !important;
    height: 25px !important;
    border: none !important;
    box-shadow: none !important;
    font-family: "Dosis", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif !important;
}

.tag-item {
    background: #00adef !important;
    color: white;
}

.vault-privacy-indicator, .btn-vault-privacy {
    width: 15px;
    height: 30px;
    background: transparent url(../img/privacy-off.png) no-repeat center center;
    position: absolute;
    right: 10px;
    top: 0;
}

.privacy-on {
    background-image: url(../img/privacy-on.png);
}

.btn-vault-privacy {
    border: none;
    box-shadow: none !important;
}

.vault-suggestions {
    margin: 4px 0;
}

.vault-suggestion {
    display: block;
    margin-left: 30%;
    padding: 3px 0 3px 24px;
}

.vault-category-box {
    background: #f5f5f5 url(../img/vault-category-address.png) no-repeat center 30px;
    display: inline-block;
    width: 31%;
    height: 180px;
    padding-top: 136px;
    text-align: center;
    font-weight: 500;
    margin: 4px;
}

.vault-category-box-financial {
    background-image: url(../img/vault-category-financial.png);
}

.vault-category-box-govid {
    background-image: url(../img/vault-category-govid.png);
}

.vault-category-box-membership {
    background-image: url(../img/vault-category-membership.png);
}

.vault-category-box-family {
    background-image: url(../img/vault-category-family.png);
}

.vault-category-box-employment {
    background-image: url(../img/vault-category-employment.png);
}

.vault-category-box-education {
    background-image: url(../img/vault-category-education.png);
}

.vault-category-box-other {
    background-image: url(../img/vault-category-other.png);
}
.vault-category-box-last {
    background-image: none;
}