

<div ng-controller="SearchBasicController">

    <div ng-if="write">
        <div class="vault-group-content">

            <div class="vault-row">
                <div class="vault-label">
                    <label>{{field.label}}</label>
                </div>
                <div class="vault-field">
                    <div class="vault-field-value">

                        <rgu-control type="select" class="short" options="['Single', 'Married', 'In-a-Relationship', 'Common-Law', 'Divorced', 'Widowed']" ng-model="field.value" />

                    </div>

                </div>
            </div>
           
            <div class="vault-row">
                <div class="vault-label">
                    <label></label>
                </div>
                <div class="vault-field">
                    <button type="button"
                            class="btn-edit-vault-field-action btn-edit-vault-field-cancel"
                            ng-click="$event.preventDefault();cancelField(entry)">
                        Cancel
                    </button>
                    <button type="button" class="btn-edit-vault-field-action"
                            ng-click="Save()">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="!write && read">
        <div class="vault-group-content">
            <div class="vault-row">
                <div class="vault-label">
                    <label>{{field.label}}</label>
                </div>
                <div class="vault-field">
                    <div class="vault-field-value">
                        {{field.value}}
                    </div>

                </div>
            </div>

            <div class="vault-row">
                <div class="vault-label">
                    <label></label>
                </div>
                <div class="vault-field">
                    <button type="button"
                            class="btn-edit-vault-field-action btn-edit-vault-field-cancel"
                            ng-click="$event.preventDefault();cancelField(entry)">
                        Cancel
                    </button>
                   
                </div>
            </div>
        </div>
    </div>
</div> 