<footer class="main-footer">
    <ul class="foot-nav">
        @if (ViewBag.Page == "about-business") {
        <li><a href="/about">Regit for Individual</a></li>
        } else {
        <li><a href="/about/business">Regit for Business</a></li>
        }
        <li><a href="/about/developers">Regit for Developer</a></li>
        <li><a href="/about/privacy-policy">Legal &amp; Privacy</a></li>
    </ul>
</footer>