<div class="module module-right module-mini-calendar">
    <div class="mini-calendar">
    </div>
</div>
<div class="module module-right module-chromeless module-msg clearfix">
    <div ng-if="false" class="msg-container" ng-controller="MsgCtrl">
        <div id="window-msglist" class="window msg-list" wid="msg-list" wincls="MsgList" type="tabs">
            <pane heading="Friends">
                <msg-list type="friends"></msg-list>
            </pane>
            <pane heading="Groups">
                <msg-list type="groups"></msg-list>
            </pane>
            <pane heading="Business">No business</pane>
        </div>
    </div>
</div>