<div class="module module-right module-mini-calendar">
    <div class="mini-calendar">
    </div>
</div>

@if (ViewBag.Tier != "business") {
<div class="module module-right module-chromeless module-msg clearfix">
    <div class="msg-container" ng-controller="MsgCtrl" rgu-event-listener>
        <div id="window-msglist" class="window msg-list" wid="msg-list" wincls="MsgList" type="tabs">
            <pane heading="Friends">
                <msg-list type="friends"></msg-list>
            </pane>
            <!--<pane heading="Groups">-->
            <!--<msg-list type="groups"></msg-list>-->
            <!--</pane>-->
            <!--<pane heading="Business">No business</pane>-->
        </div>
    </div>
</div>
}
