<footer class="main-footer">
    <ul class="foot-nav">
        <li><a href="/about">About Regit</a></li>
        <li><a href="/BusinessAccount">Regit for Business</a></li>
        <li><a href="https://developer.regitapi.com">Regit for Developer</a></li>
        <li><a href="/about/privacy-policy.html">Legal &amp; Privacy</a></li>
    </ul>
</footer>