<div class="vault-group" >
    <div class="vault-categories">
        <a href="#" class="vault-category-box vault-category-box-address" ng-click="vm.AlphaRedirectTask('address_group.html')">Address</a>
        <a href="#" class="vault-category-box vault-category-box-financial" ng-click="vm.AlphaRedirectTask('financial_group.html')"> Financial</a>
        <a href="#" class="vault-category-box vault-category-box-govid" ng-click="vm.AlphaRedirectTask('governmentID_group.html')">Government ID</a>
        <a href="#" class="vault-category-box vault-category-box-membership" ng-click="vm.AlphaRedirectTask('membership.html')">Membership</a>
        <a href="#" class="vault-category-box vault-category-box-family" ng-click="vm.AlphaRedirectTask('relationship_group.html')">Relationship</a>
        <a href="#" class="vault-category-box vault-category-box-employment" ng-click="vm.AlphaRedirectTask('employment.html')">Employment</a>
        <a href="#" class="vault-category-box vault-category-box-education" ng-click="vm.AlphaRedirectTask('education.html')">Education</a>
        <a href="#" class="vault-category-box vault-category-box-other" ng-click="vm.AlphaRedirectTask('others.html')"> Others </a>
        <a href="#" class="vault-category-box vault-category-box-documents" ng-click="vm.AlphaRedirectTask('documents.html')">Documents</a>
    </div>
</div>