<div class="vault-panel">
    <div class="vault-panel-header">
        <button class="btn-vault-panel-header btn-vault-panel-back" ng-click="vm.AlphaRedirectTask('main_form.html')" href="#"> Back</button>
        <button class="btn-vault-panel-header btn-vault-panel-close" ng-click="vm.AlphaRedirectTask('main_form.html')" href="#"> Close</button>
        <h4 class="vault-panel-title"> Add new custom form </h4>
    </div>

    <div class="vault-panel-body">
        <form name="formGroup" class="vault-panel-form" novalidate>
            <!-- custom form -->
            <div ng-include="vm.custom"></div>
          
        </form>
    </div>
</div>