

        <div ng-include="vm.main_basic"></div>
        <div ng-include="vm.main_contact"></div>
        <div ng-include="vm.main_address"></div>
        <div ng-include="vm.main_financial"></div>
        <div ng-include="vm.main_governmentID"></div>
        <div ng-include="vm.main_membership"></div>
        <div ng-include="vm.main_family"></div>
        <div ng-include="vm.main_pet"></div>
        <div ng-include="vm.main_emergency"></div>
        <div ng-include="vm.main_employment"></div>
        <div ng-include="vm.main_education"></div>
        <div ng-include="vm.main_others"></div>





