<div class="vault-group">
    <div class="vault-panel" ng-controller="RelationshipController">
        <div class="vault-panel-header">
            <button class="btn-vault-panel-header btn-vault-panel-back" ng-click="vm.AlphaRedirectTask('main_form.html')" href="#"> Back</button>
            <button class="btn-vault-panel-header btn-vault-panel-close" ng-click="vm.AlphaRedirectTask('main_form.html')" href="#"> Close</button>
            <h4 class="vault-panel-title">
                Add a new Relationship
            </h4>
        </div>

        <div class="vault-panel-body" ng-if="list_group !=''">
            <form name="formGroup" class="vault-panel-form" novalidate>
                <div class="vault-panel-row">

                    <select rgu-select class="short" ng-model="_select._value" ng-options="group for group in list_group">
                        <option value="" class="select-heading">{{_select._value}}</option>
                    </select>
                </div>
                     <!-- Family -->
                    <div ng-if="_select._value == 'Family'">
                        <div ng-include="vm.family"></div>
                    </div>
                    <!-- -->
                    <!-- Pet -->
                    <div ng-if="_select._value == 'Pet'">
                        <div ng-include="vm.pet"></div>
                    </div>
                    <!--emergency -->
                    <div ng-if="_select._value == 'Emergency'">
                        <div ng-include="vm.emergency"></div>
                    </div>
            </form>
        </div>
    </div>
  </div>
