

<div ng-controller="SearchContactEmailController">
    <div ng-if="write == true && read == true">
        <div class="vault-group-actions contact-edit-actions">
            <button ng-hide="_email.edit" class="btn-vault-action btn-vault-edit" ngclipboard
                    data-clipboard-target="#copy-{{query.formName}}">
                Copy text
            </button>
            <button ng-hide="_email.edit" class="btn-vault-action btn-vault-edit"
                    ng-click="_email.edit = !_email.edit">
                Edit
            </button>

            <button ng-hide="!_email.edit" class="btn-vault-action btn-vault-save" ng-click="CheckSave()">
                Save
            </button>
            <button ng-hide="!_email.edit" class="btn-vault-action btn-vault-cancel btn-cancel"
                    ng-click="Cancel()">
                Cancel
            </button>
        </div>

        <div id="copy-{{query.formName}}">
            <div class="vault-row">
                <div class="vault-label" ng-if="listEmail.length === 0">
                    <label>Office email </label>
                </div>
                <div class="vault-field">

                </div>
            </div>
            <!--// Repeat-->
            <div ng-hide="_email.edit">
                <div ng-repeat="showValue in listEmail">
                    <!--{{value | json}}-->
                    <!--// main-->

                    <div class="vault-row">
                        <div class="vault-label">
                            <label ng-if="$index == 0">Office email </label>
                        </div>
                        <div class="vault-field">
                            <div class="vault-field-value">
                                <span ng-if="showValue.value != ''">
                                    {{showValue.value }}
                                </span>
                                <div ng-show="showValue.default" class="vault-is-default">default</div>
                                <br />
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <!-- // end Main -->
            <!-- // Edit -->
            <div ng-hide="!_email.edit">
                <div class="vault-row" ng-if="addNewEmailError">
                    <div class="vault-label">
                        <label>  </label>
                    </div>
                    <div class="vault-field">
                        <div class="form-field-message form-field-error">{{addNewEmailError}}</div>
                    </div>
                </div>
                <!-- // End edit Repeat -->
                <div ng-repeat="mail in listEmail">
                    <div class="vault-row">
                        <div class="vault-label">
                            <label ng-if="$index == 0">Office email </label>
                        </div>
                        <div class="vault-field">
                            <input class="vault-input short" ng-model="mail.value" rules="email" />
                            <div class="vault-is-default" ng-if="mail.default">default</div>
                            <button class="vault-set-default" ng-if="!mail.default"
                                    ng-click="CheckDefault(mail)">
                                Set default
                            </button>

                            <button class="vault-field-remove" ng-click="removeEmail(mail)">Remove</button>

                        </div>
                    </div>
                </div>


                <!-- // End edit Repeat -->
                <div ng-show="addEmail.value">
                    <hr />
                    <div class="vault-row">
                        <div class="vault-label">

                        </div>
                        <div class="vault-field">
                            <input class="vault-input short" name="newContactOfficeEmail" ng-model="_newEmail.value" rules="email" />

                        </div>

                        <!--//  ng-disabled="!formVault.newContactEmail.$modelValue">Accept</button>-->
                    </div>
                    <div class="vault-row">
                        <div class="vault-label">
                            <label>Office email</label>
                        </div>
                        <div class="vault-field">
                            <button class="btn btn-default" ng-click="IsExistEmail( _newEmail )" ng-disabled="!formVault.newContactOfficeEmail.$modelValue">Accept</button>

                            <button class="btn btn-default" ng-click="addEmail.value = !addEmail.value">Cancel</button>
                        </div>
                    </div>

                </div>
                <div class="vault-row" ng-show="!addEmail.value">
                    <div class="vault-label">

                    </div>
                    <div class="vault-field-actions">
                        <a href="#" class="vault-field-add"
                           ng-click="$event.preventDefault(); newEmail() ">+ Add more office email</a>
                    </div>
                </div>

            </div>
            <!-- // End Edit-->
        </div>
    </div>

    <div ng-if="write == false && read == false">
        <div class="vault-group-actions contact-edit-actions">
            <button ng-hide="_email.edit" class="btn-vault-action btn-vault-edit" ngclipboard
                    data-clipboard-target="#copy-{{query.formName}}">
                Copy text
            </button>

        </div>

        <div id="copy-{{query.formName}}">
            <div class="vault-row">
                <div class="vault-label" ng-if="listEmail.length === 0">
                    <label>Office email </label>
                </div>
                <div class="vault-field">

                </div>
            </div>
            <!--// Repeat-->
            <div ng-hide="_email.edit">
                <div ng-repeat="showValue in listEmail">
                    <!--{{value | json}}-->
                    <!--// main-->

                    <div class="vault-row">
                        <div class="vault-label">
                            <label ng-if="$index == 0">Office email </label>
                        </div>
                        <div class="vault-field">
                            <div class="vault-field-value">
                                <span ng-if="showValue.value != ''">
                                    {{showValue.value }}
                                </span>
                                <div ng-show="showValue.default" class="vault-is-default">default</div>
                                <br />
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <!-- // end Main -->

        </div>

    </div>

</div>