@{
ViewBag.Title = "Regit Terms and Conditions - Business User";
Layout = "~/Areas/User/Views/Shared/_AboutNewLayout.cshtml";
ViewBag.AboutSecondary = true;
<!--ViewBag.NgApp = "regitLegal";-->
}

@section styles {
<link rel="stylesheet" href="~/Areas/About/Content/css/legal.css?v1">
<link rel="stylesheet" href="~/Areas/About/Content/css/privacy.css?v1">
}

@section initscripts {
<script>
//    angular.module('regitLegal', ['ngCookies', 'userModule']);
</script>

}
<div class="cms-doc legal-doc">


    <h2>Regit Terms of Service &ndash; Business</h2>
    <p>Posted: [June 15 2017]</p>
    <p>Thanks for using Regit! In these terms of service ("Terms"), &ldquo;we&rdquo;, &ldquo;us&rdquo;, &ldquo;our&rdquo; or &ldquo;REGIT&rdquo; means Regit Pte. Ltd. These Terms cover your use of and access to our services, client software and websites ("Services") provided to you as a business user (including organisations) of the Regit platform. </p>
    <p>The Regit platform is a communication platform for you to organize and exchange information with other users and organisations you authorise. Any information stored on the platform is fully at your discretion. Regit does not require you to provide any more information than necessary to create your platform user account. Any additional information stored and shared on the platform is with your explicit consent. Regit does not sell your personal information.</p>
    <p>Our <a href="/about/privacy-policy">Privacy Policy</a> explains how we collect, use, disclose, process, manage and protect personal information generally when using our Services. By using our Services, you're agreeing to be bound by these Terms and our Privacy Policy. We reserve the right, at our sole discretion, to change or modify all or any of these Terms at any time. If we do this, we will post the changes on this page and will indicate at the top of this page the date these Terms were last revised. We will also notify you, either through the Regit platform, in an email notification or through other reasonable means.</p>
    <h3>Registration Obligations</h3>
    <p>You are required to register with Regit in order to access and use our Services. You agree to provide and maintain true, accurate, current and complete information about yourself as required by the registration form on our platform. We may at our own discretion require you to furnish evidence of business ownership and when required can limit your account access until appropriate verification is complete. Registration data and certain other information about you are governed by our Privacy Policy.</p>
    <h3>Information &amp; Authorized Usage</h3>
    <p>You agree to use Regit only for the management and communication of information with the users of the Regit platform and network. You agree to only collect, use and otherwise deal in personal information necessary for the purposes you have specified to the user in the relevant interaction. </p>
    <p>Regit can be used to help facilitate compliance with personal data protection rules by making it easy to obtain consent, evidence purpose, and keep individual data up-to-date. Regit does not guarantee that by using the platform you comply with all privacy or personal data protection rules.&nbsp; By using the platform, you therefore agree to comply with local laws and rules regarding privacy and personal data protection, including Singapore&rsquo;s Personal Data Protection Act (&ldquo;PDPA&rdquo;). You shall not sell such information or use it for any other purpose than authorised and consented to by the customer on Regit.</p>
    <p>Regit reserves the right to terminate without notice any account or subscription of any user which it deems, in its sole discretion, to have violated the applicable terms and conditions, to have committed any illegal or criminal act or omission, to have caused harm, or potentially cause harm, to Regit, or to have caused harm, or potentially cause harm, to any Regit user.</p>
    <p>Users are obliged to provide and maintain true, accurate, current and complete information on the Regit platform. However, we cannot warrant or guarantee that any information provided by any user is true, accurate, current or complete. We shall not be held responsible for any claims, losses, damages, penalties, liabilities, and costs, of any kind or nature, arising from any user&rsquo;s failure to provide true, accurate, current and complete information.</p>
    <h3>Work-Flow &amp; Access</h3>
    <p>The Regit platform provides workflow and access management, which allows you to grant multiple user access and control of your business account. You must ensure that such access is only granted to authorised persons, and that such authorised persons shall agree and comply with these Terms. You must ensure that such access shall be removed or restricted when their role has changed. We recommend that you review such access and change your password regularly.</p>
    <h3>Member Account Security</h3>
    <p>You are responsible for maintaining the confidentiality of your password and account details, and are fully responsible for any and all activities that occur under your password or account. You agree to immediately notify Regit of any unauthorised use of your password or account or any other breach of security.</p>
    <h3>Copyrights and Trademarks</h3>
    <p>Regit’s website is based on proprietary technology and includes its content (the “Content”). The website, including the Content, is protected by applicable intellectual property and other laws, including trademark and copyright laws. The website, including all intellectual property rights in the website, belongs to and is the property of Regit. Regit owns and retains all copyright to the Content with the exception of certain content which are specifically permitted to be on the website. The Content may not be copied, reproduced, modified, republished, uploaded, posted, transmitted, performed, or distributed in any way, and you agree not to modify, rent, lease, loan, sell, distribute, transmit, broadcast, or create derivative works based on the Content or the website, in whole or in part, by any means. Regit’s logos, and other marks used by Regit from time to time, are trademarks and the property of Regit.</p>
    <h3>Third Party Websites</h3>
    <p>In the course of providing the Services, we may provide, or third parties such as other users or organisations on the platform may provide, or our website may contain, hyperlinks or other access to other websites and resources on the Internet. Regit has no control over such websites and resources and Regit is not responsible for and does not endorse such websites and resources. You further acknowledge and agree that Regit shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any content, events, goods or services available on or through any such website or resource. Any dealings you have with third parties found while using the Services are between you and the third party, and you agree that Regit is not liable for any loss or claim that you may have against any such third party.</p>
    <h3>Beta Services</h3>
    <p>As our commitment to constantly improve and enhance our service offering, we may invite users to participate in the Beta version (testing version). Those Services have been marked beta, preview, early access, or evaluation (or with words or phrases with similar meanings) and may not be as reliable as Regit’s other services. Regit shall not be liable for any damages or losses as a result of using these Beta services.</p>
    <h3>Indemnification</h3>
    <p>You shall defend, indemnify, and hold harmless Regit, its affiliates, directors, officers, employees, and agents from and against all claims, losses, damages, penalties, liabilities, and costs, of any kind or nature which are in connection with or arising from: (i) your access to or use of the Regit website and Services; (ii) your breach of these Terms; or (iii) your violation of any third party right, including, without limitation, any intellectual property right, publicity, confidentiality, property or privacy right./p>
    <h3>Subscriptions &amp; Fees</h3>
    <p>To the extent the Services or any portion thereof is made available to you for any fee, you will be required to select a payment plan and provide Regit information regarding your credit card or other payment methods. You represent and warrant to Regit that such information is true and that you are authorised to make payment in accordance with the specified payment methods. You shall promptly update your account information in the event of any changes (for example, a change in your billing address or credit card expiration date) that may occur. If you dispute any charges, you must let Regit know within sixty (60) days after the date that Regit charges you, failing which you are deemed to have accepted the validity of the charges.</p>
    <h3>Resolving Disputes</h3>
    <p>We want to address your concerns in a proactive way. You agree to try to resolve the dispute by contacting
        <a href="mailto:info@regit.today">info@regit.today</a>. We'll try to resolve the dispute by contacting you via
        email.
    </p>
    <h3>Governing Law</h3>
    <p>These Terms and your use of our website shall be governed by Singapore law. If you are not residing in Singapore, your use of our website shall be deemed to mean that you will not hold us responsible for any non-compliance with the laws of your residence to the extent that such laws are applicable. Further, by your continued use of our website, you consent to the transfer and use of your personal data outside your country.</p>
</div>
