@{
    ViewBag.Title = "Regit for Developers";
    Layout = "~/Areas/User/Views/Shared/_AboutNewLayout.cshtml";
ViewBag.AboutSecondary = true;
}

@section styles {
    <link rel="stylesheet" href="~/Areas/About/Content/css/developers.css">
}

@section scripts {

}
<div class="cms-doc legal-doc under-construction">
<img src="/Areas/About/Content/img/under-construction.svg" alt="Under Construction">
    <p>WE'RE MAKING CHANGES TO BETTER SERVE YOU IN THE FUTURE</p>
</div>
