@{
ViewBag.Title = "Regit Privacy Policy";
Layout = "~/Areas/User/Views/Shared/_AboutNewLayout.cshtml";
ViewBag.AboutSecondary = true;
ViewBag.AngularApp = "regitAbout";
}

@section styles {
<link rel="stylesheet" href="~/Areas/About/Content/css/legal.css?v1">
<link rel="stylesheet" href="~/Areas/About/Content/css/privacy.css?v1">
}

@section initscripts {
<script>
    angular.module('regitAbout', ['UserModule']);
</script>
}
<div class="cms-doc legal-doc">

    <h2>Regit Privacy Policy</h2>
    <p>Last updated: June 15 2017</p>
    <h3>Your Privacy is Important to Us</h3>

    <p>In this policy, &ldquo;we&rdquo;, &ldquo;us&rdquo;, &ldquo;our&rdquo; or &ldquo;REGIT&rdquo; means Regit Pte.
        Ltd., &ldquo;you&rdquo;, &ldquo;your&rdquo; or &ldquo;yours&rdquo; means the persons to whom this policy applies
        and &ldquo;Regit&rdquo; means Regit Pte. Ltd., its related corporations, affiliates and branches.</p>
    <p>The security of your personal data is important to us. Regit has in place safeguards to protect the personal data
        stored with us. This policy describes how we may collect, use, disclose, process and manage your personal
        data.</p>
    <p>This policy applies to any individual&rsquo;s personal data which is in our possession or under our control
        within the Regit platform. The Regit platform is a communication platform for you to organize and exchange
        information with other users and organisations you authorise. Any information stored on the platform is fully at
        your discretion.</p>
    <p>Regit does not require you to provide any more information than necessary to create your platform user account.
        Any additional information stored and shared on the platform is with your explicit consent. Regit does not sell
        your personal information.</p>

    <h3>What Personal Data We Collect</h3>

    <p>“Personal data” is data that can be used to identify a natural person. Some examples of personal data that we may
        collect and/or may be stored on the Regit platform are:
    </p>

    <ul>
        <li>personal particulars (e.g. name, contact details, residential address, date of birth, identity</li>
        <li>identity cards/passport details, and education details;</li>
        <li>employment details (e.g. occupation, directorships and other positions held, employment history, salary,
            and/or benefits);
        </li>
        <li>family information</li>
        <li>membership and accounts</li>
        <li>banking account information (e.g. account numbers and banking transactions); and/or</li>
        <li>personal attributes and interests (e.g. hobbies, preferences, favourites, skills)</li>
        <li>From your account usage, you may be assigned a dynamic &ldquo;data score&rdquo; that will help you interact
            with businesses.
        </li>
    </ul>


    <h3>Usage of Your Personal Data</h3>
    <p>We may collect, use or disclose your personal data for our business purposes, such as:</p>
    <ul>
        <li>providing you with any of our products or services, including disclosing your personal data to any person or
            organisation which you authorise through the Regit platform;
        </li>
        <li>processing applications, instructions or requests from you;</li>
        <li>communicating with you, including providing you with updates on changes to products, services;</li>
        <li>analytics for the purposes of developing, improving our communication with you;</li>
        <li>managing our infrastructure and business operations and complying with internal policies and procedures;
        </li>
        <li>responding to queries or feedback;</li>
        <li>addressing or investigating any complaints, claims or disputes;</li>
        <li>verifying your identity provided on your application</li>
        <li>screenings or due diligence checks as may be required under applicable law, regulation or directive;</li>
        <li>complying with all applicable laws, regulations, rules, directives, orders, instructions and requests from
            any local or foreign authorities, including regulatory, governmental, tax and law enforcement authorities or
            other authorities;
        </li>
        <li>monitoring products and services provided by or made available through us;</li>
        <li>financial reporting, regulatory reporting, management reporting, risk management audit and record keeping
            purposes;
        </li>
        <li>enforcing obligations owed to us; and/or</li>
        <li>Seeking professional advice, including legal advice.</li>
    </ul>
    <p>By registering an account on and using the Regit platform, you are deemed to consent to the above purposes. </p>
    <p>If you have provided to us any third party&rsquo;s personal data, you shall be deemed to have obtained that party&rsquo;s
        consent for the relevant purpose of providing the personal data to us.</p>

    <h3>Use of Personal Data for Marketing Purposes</h3>

    <p>We may use your personal data to offer you products or services, including special offers, promotions, contests
        or entitlements that may be of interest to you or for which you may be eligible or and subscribed to. Such
        marketing messages may be sent to you within the Regit platform. In doing so, we will comply with the Personal
        Data Protection Act of Singapore (PDPA) and other applicable data protection and privacy laws applicable in your
        region.</p>

    <h3>Disclosure and Sharing of Personal Data</h3>

    <p>We may from time to time, and in compliance with all applicable laws on data privacy, disclose your personal data
        to any personnel of Regit or to third parties, whether located in Singapore or elsewhere, in order to carry out
        the purposes set out above. Please be assured that when we disclose your personal data to such parties, we
        require them to ensure that any personal data disclosed to them are kept confidential and secure.</p>
    <p>For more information about the third parties you may also contact us for more information (please see the &ldquo;How
        to contact us&rdquo; section below).</p>
    <p>Additionally, we may disclose your personal data to third parties if we believe that we are required by law to so
        disclose or that such disclosure is reasonably necessary to protect the rights, property or safety of our users,
        the public or us.</p>
    <p>We wish to emphasise that Regit&nbsp;<strong>does not sell</strong>&nbsp;personal data to any third parties and
        we shall remain fully compliant with any duty or obligation of confidentiality imposed on us under the
        applicable terms and conditions that govern our relationship with you or under any applicable law.</p>
    <p>We may transfer, store, process and/or deal with your personal data outside Singapore. In doing so, we will
        comply with the PDPA and other applicable data protection and privacy laws.</p>

    <h3>Cookies and Related Technologies</h3>

    <p>Our web sites and mobile applications (&ldquo;apps&rdquo; or an &ldquo;app&rdquo;) use cookies. A cookie is a
        small text file placed on your computer or mobile device when you visit a web site or use an app. Cookies
        collect information about users and their visit to the web site or use of the app, such as their Internet
        protocol (IP) address, how they arrived at the web site (for example, through a search engine or a link from
        another web site) and how they navigate within the web site or app. We use cookies and other technologies to
        facilitate your internet sessions and use of our apps, offer you products and/or services according to your
        preferred settings, track use of our web sites and apps and to compile statistics about activities carried out
        on our web sites and/or through our apps.</p>
    <p>A pixel tag, also known as a web beacon, is an invisible tag placed on certain pages of our web site but not on
        your computer. Pixel tags are usually used in conjunction with cookies and are used to monitor the behaviour of
        users visiting the web site.</p>
    <p>You may set up your web browser to block cookies which will in turn disable the pixel tags from monitoring your
        web site visit. You may also remove cookies stored from your computer or mobile device. However, if you do block
        cookies and pixel tags, you may not be able to use certain features and functions of our web sites.</p>
    <p>We employ reasonable industry-standard security measures to protect the personal data we receive from you. While
        we strive to create a secure and reliable website and IT system, the confidentiality of any communication or
        material transmitted over the Internet cannot be 100% guaranteed. We cannot be responsible or liable for illegal
        interception or theft of any personal data.</p>

    <h3>Other Web Sites</h3>
    <p>Our web sites may contain links to other web sites which are not maintained by Regit. This privacy policy only
        applies to the web sites of Regit. When visiting these third party web sites, you should read their privacy
        policies which will apply to your use of the web sites.</p>
    <h3>Retention of Personal Data</h3>
    <p>Your personal data is retained with us as long as the purpose for which it was collected remains and until it is
        no longer necessary for any other legal or business purposes.</p>
    <p>You may delete information from your account, or terminate your account at any time using the close account
        feature under account settings.
    </p>

    <h3>Access and Correction</h3>

    <p>You can access, update, change, or make corrections to your personal data provided to and stored on the Regit
        platform. Regit does not correct your personal data on your behalf as we are unable to access your account.</p>
    <p>If your personal data has been provided to us by a third party, you should contact that third party to make such
        queries or access and correction requests to us on your behalf.
    </p>


    <h3>How to Contact Us</h3>
    <p>To contact us on any aspect of this policy or your personal data or to provide any feedback that you may have,
        please visit email us at <a href="mailto:privacy@regit.today">privacy@regit.today</a>
    </p>

    <h3>Amendments and Updates of REGIT Privacy Policy</h3>
    <p>We may amend this policy from time to time to ensure that this policy is consistent with any developments to the
        way Regit uses your personal data or any changes to the laws and regulations applicable to Regit. We will make
        available the updated policy on our web site (http://regit.today/about/privacy-policy). All communications,
        transactions and dealings with us shall be subject to the latest version of this policy in force at the
        time.</p>
    <h3>Governing Law</h3>
    <p>This Privacy Policy, our privacy practices and your use of our website shall be governed by Singapore law. We
        make no representation that this Privacy Policy and our privacy practices comply with the laws of any other
        country. If you are not residing in Singapore, your use of our website shall be deemed to mean that you will not
        hold us responsible for any non-compliance with the laws of your residence to the extent that such laws are
        applicable. Further, by your continued use of our website, you consent to the transfer and use of your personal
        data outside your country.</p>
</div>
