
<div ng-controller="OthersController">

    <div ng-if="write == true">
        <div class="vault-panel-row">
            <select rgu-select class="short" ng-model="select_others._value" ng-options="others for others in list_others">
                <option value="" class="select-heading">{{select_others._value}}</option>
            </select>

            <!--preference-->
            <div ng-if="preference._label == select_others._value ">
                <div class="vault-panel-row">
                    <label>{{preference_interests._label}}</label>
                    <div class="form-editor-control tag-input">
                        <rgu-smart-input ng-model="preference_interests._value" placeholder="Enter your interests" type="interest">
                        </rgu-smart-input>
                    </div>
                </div>
                <div class="vault-panel-row">
                    <label>{{preference_sports._label}}</label>
                    <div class="form-editor-control tag-input">
                        <rgu-smart-input ng-model="preference_sports._value" placeholder="Enter your sports" type="sport">
                        </rgu-smart-input>
                    </div>
                </div>
                <div class="vault-panel-row">
                    <label>{{preference_food._label}}</label>
                    <div class="form-editor-control tag-input">
                        <rgu-smart-input ng-model="preference_food._value" placeholder="Enter your list food" type="food">
                        </rgu-smart-input>
                    </div>
                </div>
                <div class="vault-panel-row">
                    <label>Seat</label>

                    <div class="form-editor-control tag-input">
                        <rgu-smart-input ng-model="preference_seat._value" type="seat">
                        </rgu-smart-input>
                    </div>
                </div>
                <div class="vault-panel-row">
                    <label>{{preference_season._label}}</label>
                    <div class="form-editor-control tag-input">
                        <rgu-smart-input ng-model="preference_season._value">
                        </rgu-smart-input>
                    </div>
                </div>
                <div class="vault-panel-row">
                    <label>{{preference_note._label}}</label>
                    <textarea name="{{preference_note._value}}" ng-model="preference_note._value"></textarea>
                </div>


            </div>

            <!-- FAVAOURITE-->
            <div class="vault-panel-section" ng-if="favourite._label == select_others._value">

                <div class="vault-panel-row">
                    <label>Colors</label>
                    <div class="form-panel-control">
                        <rgu-smart-input ng-model="favourite_colour._value" type="color" placeholder="Enter your favorite color">
                        </rgu-smart-input>
                    </div>
                </div>
                <div class="vault-panel-row">
                    <label>Holidays</label>
                    <div class="form-panel-control">
                        <rgu-smart-input ng-model="favourite_holiday._value" type="holiday" placeholder="Enter your favorite holidays">
                        </rgu-smart-input>
                    </div>
                </div>
                <div class="vault-panel-row">
                    <label>Movies</label>
                    <div class="form-panel-control">
                        <rgu-smart-input ng-model="favourite_movie._value" type="movie" placeholder="Enter your favorite movie">
                        </rgu-smart-input>
                    </div>
                </div>
                <div class="vault-panel-row">
                    <label>Music Genres</label>
                    <div class="form-panel-control">
                        <rgu-smart-input ng-model="favourite_music_type._value" type="musicGenre" placeholder="Enter your favorite music genre">
                        </rgu-smart-input>
                    </div>
                </div>
                <div class="vault-panel-row">
                    <label>Songs</label>
                    <div class="form-panel-control">
                        <rgu-smart-input ng-model="favourite_song._value" type="song" placeholder="Enter your favorite songs">
                        </rgu-smart-input>
                    </div>
                </div>
                <div class="vault-panel-row">
                    <label>TV Shows</label>
                    <div class="form-panel-control">
                        <rgu-smart-input ng-model="favourite_tv_show._value" type="tvShow" placeholder="Enter your favorite TV shows">
                        </rgu-smart-input>
                    </div>
                </div>
                <div class="vault-panel-row">
                    <label>{{favourite_note._label}}</label>
                    <textarea name="note" ng-model="favourite_note._value"></textarea>
                </div>
            </div>
            <!--BODY -->
            <div class="vault-panel-section" ng-if="body._label == select_others._value">
                <div class="vault-panel-heading">
                    Body Metrics
                </div>
                <div class="vault-panel-row">
                    <div class="vault-panel-col">
                        <label>{{body_eye_colour._label}}</label>
                        <div class="form-panel-control">
                            <rgu-smart-input ng-model="body_eye_colour._value" type="color">
                            </rgu-smart-input>
                        </div>
                    </div>
                    <div class="vault-panel-col">
                        <label>{{body_hair_colour._label}}</label>
                        <div class="form-panel-control">
                            <rgu-smart-input ng-model="body_hair_colour._value" type="color">
                            </rgu-smart-input>
                        </div>
                    </div>
                </div>
                <div class="vault-panel-row">
                    <div class="vault-panel-col third">
                        <label>{{body_height._label}}</label>
                        <div class="form-panel-control">
                            <rgu-input-group measure="length" ng-model="body_height._value" unit-model="body_height._unit">
                            </rgu-input-group>
                        </div>
                    </div>
                    <div class="vault-panel-col third">
                        <label>{{body_weight._label}}</label>
                        <div class="form-panel-control">
                            <rgu-input-group measure="weight" ng-model="body_weight._value" unit-model="body_weight._unit">
                            </rgu-input-group>
                        </div>
                    </div>
                    <div class="vault-panel-col third">
                        <label>{{body_type._label}}</label>
                        <div class="form-panel-control">
                            <rgu-tag-input ng-model="body_type._value" list="bodyTypes" label="(other type)">
                            </rgu-tag-input>
                        </div>
                    </div>
                </div>
                <div class="vault-panel-row">
                    <label>{{body_note_body._label}}</label>
                    <textarea name="body_note_body" ng-model="body_note_body._value"></textarea>
                </div>
                <div class="vault-panel-heading">
                    Tailor Metrics
                </div>
                <div class="vault-panel-row">
                    <div class="vault-panel-col">
                        <label>{{body_neck._label}}</label>
                        <div class="form-panel-control">
                            <rgu-input-group measure="length" ng-model="body_neck._value" unit-model="body_neck._unit">
                            </rgu-input-group>
                        </div>
                    </div>
                    <div class="vault-panel-col">
                        <label>{{body_chest._label}}</label>
                        <div class="form-panel-control">
                            <rgu-input-group measure="length" ng-model="body_chest._value" unit-model="body_chest._unit">
                            </rgu-input-group>
                        </div>
                    </div>
                </div>
                <div class="vault-panel-row">
                    <div class="vault-panel-col">
                        <label>{{body_arm._label}}</label>
                        <div class="form-panel-control">
                            <rgu-input-group measure="length" ng-model="body_arm._value" unit-model="body_arm._unit">
                            </rgu-input-group>
                        </div>
                    </div>
                    <div class="vault-panel-col">
                        <label>{{body_leg._label}}</label>
                        <div class="form-panel-control">
                            <rgu-input-group measure="length" ng-model="body_leg._value" unit-model="body_leg._unit">
                            </rgu-input-group>
                        </div>
                    </div>
                </div>
                <div class="vault-panel-row">
                    <div class="vault-panel-col">
                        <label>{{body_inner._label}}</label>
                        <div class="form-panel-control">
                            <rgu-input-group measure="length" ng-model="body_inner._value" unit-model="body_inner._unit">
                            </rgu-input-group>
                        </div>
                    </div>
                    <div class="vault-panel-col">
                        <label>{{body_bicep._label}}</label>
                        <div class="form-panel-control">
                            <rgu-input-group measure="length" ng-model="body_bicep._value" unit-model="body_bicep._unit">
                            </rgu-input-group>
                        </div>
                    </div>
                </div>
                <div class="vault-panel-row">
                    <div class="vault-panel-col">
                        <label>{{body_shoes._label}}</label>
                        <div class="form-panel-control">
                            <rgu-input-group measure="shoesize" ng-model="body_shoes._value" unit-model="body_shoes._unit">
                            </rgu-input-group>
                        </div>
                    </div>
                    <div class="vault-panel-col">
                        <label>{{body_ring._label}}</label>
                        <div class="form-panel-control">
                            <rgu-input-group measure="length" ng-model="body_ring._value" unit-model="body_ring._unit">
                            </rgu-input-group>
                        </div>
                    </div>
                </div>
                <div class="vault-panel-row">
                    <label>{{body_note_tailor._label}}</label>
                    <textarea name="body_note_tailor" ng-model="body_note_tailor._value"></textarea>
                </div>
                <div class="vault-panel-heading">
                    Eyes
                </div>
                <div class="vault-panel-row">
                    <div class="vault-panel-col">
                        <label>{{body_left_eye._label}}</label>
                        <div class="form-panel-control">
                            <input ng-model="body_left_eye._value">
                        </div>
                    </div>
                    <div class="vault-panel-col">
                        <label>{{body_right_eye._label}}</label>
                        <div class="form-panel-control">
                            <input ng-model="body_right_eye._value">
                        </div>
                    </div>
                </div>
                <div class="vault-panel-row">
                    <label>{{body_note_note_eye._label}}</label>
                    <textarea ng-model="body_note_eye._value"></textarea>
                </div>
            </div>


            <div class="vault-panel-actions">
                <button class="btn btn-primary vault-panel-action vault-panel-save" ng-disabled="!formOthers.$valid" ng-click="Save(); vm.AlphaRedirectTask('main_form.html')">Save</button>
            </div>
        </div>
    </div>
    <div ng-if="write == false">
        <fieldset ng-disabled="true">
            <div class="vault-panel-row">
                <select rgu-select class="short" ng-model="select_others._value" ng-options="others for others in list_others">
                    <option value="" class="select-heading">{{select_others._value}}</option>
                </select>

                <!--preference-->
                <div ng-if="preference._label == select_others._value ">
                    <div class="vault-panel-row">
                        <label>{{preference_interests._label}}</label>
                        <div class="form-editor-control tag-input">
                            <rgu-smart-input ng-model="preference_interests._value" placeholder="Enter your interests" type="interest">
                            </rgu-smart-input>
                        </div>
                    </div>
                    <div class="vault-panel-row">
                        <label>{{preference_sports._label}}</label>
                        <div class="form-editor-control tag-input">
                            <rgu-smart-input ng-model="preference_sports._value" placeholder="Enter your sports" type="sport">
                            </rgu-smart-input>
                        </div>
                    </div>
                    <div class="vault-panel-row">
                        <label>{{preference_food._label}}</label>
                        <div class="form-editor-control tag-input">
                            <rgu-smart-input ng-model="preference_food._value" placeholder="Enter your list food" type="food">
                            </rgu-smart-input>
                        </div>
                    </div>
                    <div class="vault-panel-row">
                        <label>Seat</label>

                        <div class="form-editor-control tag-input">
                            <rgu-smart-input ng-model="preference_seat._value" type="seat">
                            </rgu-smart-input>
                        </div>
                    </div>
                    <div class="vault-panel-row">
                        <label>{{preference_season._label}}</label>
                        <div class="form-editor-control tag-input">
                            <rgu-smart-input ng-model="preference_season._value">
                            </rgu-smart-input>
                        </div>
                    </div>
                    <div class="vault-panel-row">
                        <label>{{preference_note._label}}</label>
                        <textarea name="{{preference_note._value}}" ng-model="preference_note._value"></textarea>
                    </div>


                </div>

                <!-- FAVAOURITE-->
                <div class="vault-panel-section" ng-if="favourite._label == select_others._value">

                    <div class="vault-panel-row">
                        <label>Colors</label>
                        <div class="form-panel-control">
                            <rgu-smart-input ng-model="favourite_colour._value" type="color" placeholder="Enter your favorite color">
                            </rgu-smart-input>
                        </div>
                    </div>
                    <div class="vault-panel-row">
                        <label>Holidays</label>
                        <div class="form-panel-control">
                            <rgu-smart-input ng-model="favourite_holiday._value" type="holiday" placeholder="Enter your favorite holidays">
                            </rgu-smart-input>
                        </div>
                    </div>
                    <div class="vault-panel-row">
                        <label>Movies</label>
                        <div class="form-panel-control">
                            <rgu-smart-input ng-model="favourite_movie._value" type="movie" placeholder="Enter your favorite movie">
                            </rgu-smart-input>
                        </div>
                    </div>
                    <div class="vault-panel-row">
                        <label>Music Genres</label>
                        <div class="form-panel-control">
                            <rgu-smart-input ng-model="favourite_music_type._value" type="musicGenre" placeholder="Enter your favorite music genre">
                            </rgu-smart-input>
                        </div>
                    </div>
                    <div class="vault-panel-row">
                        <label>Songs</label>
                        <div class="form-panel-control">
                            <rgu-smart-input ng-model="favourite_song._value" type="song" placeholder="Enter your favorite songs">
                            </rgu-smart-input>
                        </div>
                    </div>
                    <div class="vault-panel-row">
                        <label>TV Shows</label>
                        <div class="form-panel-control">
                            <rgu-smart-input ng-model="favourite_tv_show._value" type="tvShow" placeholder="Enter your favorite TV shows">
                            </rgu-smart-input>
                        </div>
                    </div>
                    <div class="vault-panel-row">
                        <label>{{favourite_note._label}}</label>
                        <textarea name="note" ng-model="favourite_note._value"></textarea>
                    </div>
                </div>
                <!--BODY -->
                <div class="vault-panel-section" ng-if="body._label == select_others._value">
                    <div class="vault-panel-heading">
                        Body Metrics
                    </div>
                    <div class="vault-panel-row">
                        <div class="vault-panel-col">
                            <label>{{body_eye_colour._label}}</label>
                            <div class="form-panel-control">
                                <rgu-smart-input ng-model="body_eye_colour._value" type="color">
                                </rgu-smart-input>
                            </div>
                        </div>
                        <div class="vault-panel-col">
                            <label>{{body_hair_colour._label}}</label>
                            <div class="form-panel-control">
                                <rgu-smart-input ng-model="body_hair_colour._value" type="color">
                                </rgu-smart-input>
                            </div>
                        </div>
                    </div>
                    <div class="vault-panel-row">
                        <div class="vault-panel-col third">
                            <label>{{body_height._label}}</label>
                            <div class="form-panel-control">
                                <rgu-input-group measure="length" ng-model="body_height._value" unit-model="body_height._unit">
                                </rgu-input-group>
                            </div>
                        </div>
                        <div class="vault-panel-col third">
                            <label>{{body_weight._label}}</label>
                            <div class="form-panel-control">
                                <rgu-input-group measure="weight" ng-model="body_weight._value" unit-model="body_weight._unit">
                                </rgu-input-group>
                            </div>
                        </div>
                        <div class="vault-panel-col third">
                            <label>{{body_type._label}}</label>
                            <div class="form-panel-control">
                                <rgu-tag-input ng-model="body_type._value" list="bodyTypes" label="(other type)">
                                </rgu-tag-input>
                            </div>
                        </div>
                    </div>
                    <div class="vault-panel-row">
                        <label>{{body_note_body._label}}</label>
                        <textarea name="body_note_body" ng-model="body_note_body._value"></textarea>
                    </div>
                    <div class="vault-panel-heading">
                        Tailor Metrics
                    </div>
                    <div class="vault-panel-row">
                        <div class="vault-panel-col">
                            <label>{{body_neck._label}}</label>
                            <div class="form-panel-control">
                                <rgu-input-group measure="length" ng-model="body_neck._value" unit-model="body_neck._unit">
                                </rgu-input-group>
                            </div>
                        </div>
                        <div class="vault-panel-col">
                            <label>{{body_chest._label}}</label>
                            <div class="form-panel-control">
                                <rgu-input-group measure="length" ng-model="body_chest._value" unit-model="body_chest._unit">
                                </rgu-input-group>
                            </div>
                        </div>
                    </div>
                    <div class="vault-panel-row">
                        <div class="vault-panel-col">
                            <label>{{body_arm._label}}</label>
                            <div class="form-panel-control">
                                <rgu-input-group measure="length" ng-model="body_arm._value" unit-model="body_arm._unit">
                                </rgu-input-group>
                            </div>
                        </div>
                        <div class="vault-panel-col">
                            <label>{{body_leg._label}}</label>
                            <div class="form-panel-control">
                                <rgu-input-group measure="length" ng-model="body_leg._value" unit-model="body_leg._unit">
                                </rgu-input-group>
                            </div>
                        </div>
                    </div>
                    <div class="vault-panel-row">
                        <div class="vault-panel-col">
                            <label>{{body_inner._label}}</label>
                            <div class="form-panel-control">
                                <rgu-input-group measure="length" ng-model="body_inner._value" unit-model="body_inner._unit">
                                </rgu-input-group>
                            </div>
                        </div>
                        <div class="vault-panel-col">
                            <label>{{body_bicep._label}}</label>
                            <div class="form-panel-control">
                                <rgu-input-group measure="length" ng-model="body_bicep._value" unit-model="body_bicep._unit">
                                </rgu-input-group>
                            </div>
                        </div>
                    </div>
                    <div class="vault-panel-row">
                        <div class="vault-panel-col">
                            <label>{{body_shoes._label}}</label>
                            <div class="form-panel-control">
                                <rgu-input-group measure="shoesize" ng-model="body_shoes._value" unit-model="body_shoes._unit">
                                </rgu-input-group>
                            </div>
                        </div>
                        <div class="vault-panel-col">
                            <label>{{body_ring._label}}</label>
                            <div class="form-panel-control">
                                <rgu-input-group measure="length" ng-model="body_ring._value" unit-model="body_ring._unit">
                                </rgu-input-group>
                            </div>
                        </div>
                    </div>
                    <div class="vault-panel-row">
                        <label>{{body_note_tailor._label}}</label>
                        <textarea name="body_note_tailor" ng-model="body_note_tailor._value"></textarea>
                    </div>
                    <div class="vault-panel-heading">
                        Eyes
                    </div>
                    <div class="vault-panel-row">
                        <div class="vault-panel-col">
                            <label>{{body_left_eye._label}}</label>
                            <div class="form-panel-control">
                                <input ng-model="body_left_eye._value">
                            </div>
                        </div>
                        <div class="vault-panel-col">
                            <label>{{body_right_eye._label}}</label>
                            <div class="form-panel-control">
                                <input ng-model="body_right_eye._value">
                            </div>
                        </div>
                    </div>
                    <div class="vault-panel-row">
                        <label>{{body_note_note_eye._label}}</label>
                        <textarea ng-model="body_note_eye._value"></textarea>
                    </div>
                </div>


                <div class="vault-panel-actions">
                    <button class="btn btn-primary vault-panel-action vault-panel-save" ng-disabled="!formOthers.$valid" ng-click="Save(); vm.AlphaRedirectTask('main_form.html')">Save</button>
                </div>
            </div>
        </fieldset>
    </div>

</div>