<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog billing-quota-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn-modal-close" ng-click="$hide()">Close</button>
                <h4 class="modal-title">Paid Plan Only</h4></div>
        </div>
        <div class="modal-body">
                <div class="billing-quota-text">
                    <p>Your account is Free Tier, only Push-to-Vault and SRFI interactions are free. Other interactions (Broadcast, Registration and Event) requires a paid plan.  </p>
                </div>
                <div class="billing-quota-actions">
                    <button class="btn btn-default modal-action" ng-click="$hide()">Close</button>
                    <a class="btn btn-primary modal-action" href="/BusinessAccount/Billing">Upgrade Now</a>
                </div>
        </div>
    </div>
</div>

