<div class="control-row">
    <div class="control-col">
        <label ng-if="!noCity" ng-bind="countryLabel"></label>
        <select rgu-select ng-model="selectedCountry" ng-change="onChangeCountry()"
                ng-options="country as country.Name for country in countries">
        </select>
    </div>
    <div class="control-col" ng-if="showRegion">
        <label>State/Province/Region</label>
        <select rgu-select ng-model="model.region"
                ng-options="region as region for region in regions">
        </select>
    </div>
</div>
<div class="control-row" ng-if="!noCity">
    <div class="control-col">
        <label>City</label>
        <select rgu-select ng-model="model.city" ng-options="city.Name as city.Name for city in selectedCountry.cities">
        </select>
    </div>
    <div class="control-col" ng-if="showZIP">
        <label class="control-label">ZIP / Postal Code</label>
        <rgu-control type="textbox" ng-model="model.zip" rules="zip"></rgu-control>
    </div>
</div>