<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings></appSettings>
  <system.net>
    <mailSettings>
      <smtp from="tungtrungvn.test@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="tungtrungvn.test@gmail.com" password="1234@ABCD" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
