<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
-->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>
  
  <paypal>
    <settings>
      <add name="mode" value="sandbox" />
      <add name="clientId" value="AQusRPqhlCvf2IXgKor5WFTSeTKLONIBX5vvPoRfqzDanejtNfjZzqvkXF55rSZjdM5UJrJpeA3-1JAF" />
      <add name="clientSecret" value="EHCsgfWv2jlywmHJN2P6A0u7_urQcAgai5w95TxfExoc9IYVa5jPLSMi0Mk6WgCH1EdyBOtZq8baHJdt" />
    </settings>
  </paypal>
    
  <connectionStrings>
    <add name="DefaultConnection" connectionString="data source=192.168.1.230;initial catalog=GreenHouse;user id=sa;password=brsoft@123;" providerName="System.Data.SqlClient" /> 
    <add name="MongoConnection" connectionString="mongodb://192.168.1.103:27017/GreenHouse" />
<!--    <add name="MongoConnection" connectionString="mongodb://localhost:27017/Regit_Test" />-->
<!--   <add name="DefaultConnection" connectionString="Server=regit-server.southeastasia.cloudapp.azure.com, 8768;Database=Regit_Test;Integrated Security=False;User ID=sa;Password=3u9@59tvvhzV" providerName="System.Data.SqlClient" />-->
<!--    <add name="MongoConnection" connectionString="mongodb://regittodaydev:ZGV2cmVnaXR0b2RheSQjQEAyMDE2MjAxNyQlIzEyMw==@regit.today:7500/Regit_Test" />-->
<!--  </connectionStrings>-->
  <!-- <connectionStrings>
      <add name="DefaultConnection" connectionString="Server=sg-server.southeastasia.cloudapp.azure.com, 8768;Database=Regit_Beta;Integrated Security=False;User ID=regittoday;Password=UXVEeUAyMDE1MjAxakF4TmpJd01UY3k2MjAxNzIwakF4TmpJd01UY3kxODEyMzQ1Ng==" providerName="System.Data.SqlClient" />
      <add name="MongoConnection" connectionString="mongodb://regittodaydev:ZGV2cmVnaXR0b2RheSQjQEAyMDE2MjAxNyQlIzEyMw==@regit.today:7500/Regit_Beta" /> -->
  </connectionStrings>
  <appSettings>

    <!-- Stripe setting -->
    <add key="IsStripeLive" value="0" />
    <add key="KeyStripeTest" value="sk_test_rD6vmp6ZtD1d2iG8bldC8hh4" />
    <add key="KeyStripeLive" value="sk_live_tSXLa24J051N2kHX8MQr3gF5" />


    <!-- Task setting -->
   <add key="TaskSubscription" value="1" />
   <add key="TaskBilling" value="1" />
    
    <add key="MinutesExpiredSession" value="10000" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="vs:EnableBrowserLink" value="false" />
    <!-- Green house -->
    <add key="RegitAdminUrl" value="http://localhost:4200" />
    <add key="GreenHouseDbName" value="GreenHouse" />
    <add key="VerifyEmailEndPoint" value="http://localhost:9112/User/VerifyEmail?email={0}&amp;token={1}" />
    <add key="VerifyEmailExpiredAfter" value="3" />
    <!-- FACEBOOK -->
    <!-- FACEBOOK of reetingtester@gmail.com -->
    <!--<add key="FACEBOOK_APP_ID" value="236893883342380" />
    <add key="FACEBOOK_APP_SECRET" value="205e1aff8ceb39ed07fb6563e607b8bd" />
    <add key="FACEBOOK_APP_TOKEN" value="236893883342380|qXxoFz4C7aeycI9JiVLVlbqATDs" />-->
    <!--FACEBOOK REGIT ACCOUNT-->
    <add key="FACEBOOK_APP_ID" value="1835174706717003" />
    <add key="FACEBOOK_APP_SECRET" value="3a2a82a172f01633173484750984f723" />
    <add key="FACEBOOK_APP_TOKEN" value="1835174706717003|vkq-zFW4AgLj_6MYu0CCY6fJLus" />
    <add key="FACEBOOK_REDIRECT_URI" value="http://dev.regitsocial.com/" />
 
    <!-- TWITTER -->
    <add key="TWITTER_CONSUMER_KEY" value="IResLuGhxJMi4dymbqJyap49m" />
    <add key="TWITTER_CONSUMER_SECRET" value="tDLrLWCh3uiI9urUWGLcz5M4fbhygyyow4hW84rVyByyCmy9MQ" />
    <!-- GOOGLE  -->
    <add key="GOOGLE_CLIENTID" value="894013517222-l3301sufavne4usj7adgnats2j5rcb3j.apps.googleusercontent.com" />
    <add key="CLIENT_SECRET" value="91dDzgDvmMJYPdV8zvcaQMZT" />
    <!-- NEXMO -->
    <add key="Nexmo.Url.Rest" value="https://rest.nexmo.com" />
    <add key="Nexmo.Url.Api" value="https://api.nexmo.com" />
    <!--Primary key-->
    <add key="Nexmo.api_key" value="8610189e" />
    <add key="Nexmo.api_secret" value="048bce8a9587add6" />
    <!--<add key="Nexmo.api_key" value="c33f6480" />
    <add key="Nexmo.api_secret" value="4142aeb7e80b76e0" />-->
    <!--<add key="Nexmo.api_key" value="ea75a634" />
    <add key="Nexmo.api_secret" value="e81dfd2d79a10742" />-->
    <!-- EMAIL -->
    <add key="SMTP_FROM" value="noreply@regit.today" />
    <add key="SMTP_USERNAME" value="AKIAJE4BR7SGTZVETOWA" />
    <add key="SMTP_PASSWORD" value="AmPXiYUW+Xu/AtWslFC6EIA96A+POxryyKsQTLOGMbYq" />
    <add key="SMTP_HOST" value="email-smtp.us-east-1.amazonaws.com" />
    <add key="SMTP_PORT" value="587" />
    <add key="SMTP_ENABLE_SSL" value="true" />
    <!-- Error -->
    <add key="ATTACH_EXCEPTION" value="true" />
    <!--!TIME TO GET NEW FEED-->
    <add key="MINUTE_TO_REFRESH" value="1" />
    <add key="LIMIT_SEARCH_RECORDS" value="20" />
    <!-- AWS ELASTICSEARCH -->
    <!-- UAT -->
    <!--<add key="AWS.ES.END_POINT" value="search-regit-4ondv6pg5fldokleynnieheujm.ap-southeast-1.es.amazonaws.com"/>-->
    <!-- OTHERS -->
    <add key="AWS.ES.END_POINT" value="search-test-regit-efkspkjhvk6shk2mlp6uzqclta.ap-southeast-1.es.amazonaws.com" />
    <add key="MONEY_USER_DAY" value="0.1" />
    <add key="siteallow" value="http://localhost:12517" />
    <add key="IsCheckValidEmail" value="false" />
    <add key="IsEnableSMSAuthencation" value="true" />
    <add key="IsEnableInteractionsInNewFeed" value="true" />
    <add key="baseUrl" value="http://localhost:9227" />
    <add key="folderVault" value="Content/vault/documents/" />
    <add key="fcmkey" value="key=AIzaSyAyjPYk5NPF38J0nplcg9ElqKlLZrlVWl8" />
    <add key="IsSendEmailTemporaryBusiness" value="true" />
    <add key="EmailAdmin" value="admin@regit.today" />
      <!-- add key="BusinessRegit" value="quay.do@regit.today" / -->
    
  </appSettings>
  
  <!--
 
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
         <compilation debug="true" />
  -->

  <system.web>
    <customErrors mode="Off">
      
    </customErrors>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" maxRequestLength="204800" />

  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="209715200" />
        <!--200MB-->
      </requestFiltering>
    </security>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
      <rewrite>
          <rules>
              <rule name="DevapiHome" stopProcessing="true">
                  <match url="^devapi/?$" />
                  <action type="Redirect" url="/devapi/index.html" />
              </rule>              
              <rule name="DevApi" stopProcessing="true">
                  <match url="devapi/(.+)" />
                  <action type="Rewrite" url="/dev/api/{R:1}" />
              </rule>
          </rules>
      </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>