   <!-- family -->
<div ng-controller="FamilyController">
    <div ng-if="_form._name !='' ">
        <div class="vault-group">
            <!--HEADER -->
            <div class="vault-group-header">
                <h4>{{_form._label}}</h4>
                <button class="btn-vault-group-collapse" ng-init="hide_familyBody=false;"
                        ng-click="$event.preventDefault();hide_familyBody=!hide_familyBody;"></button>
            </div>
            <div ng-hide="hide_familyBody">

                <div class="vault-group-content" ng-repeat="value in _listForm">
                    <div class="vault-row">

                        <div class="vault-group-actions">
                            <button ng-hide="value.IsEdit" class="btn-vault-action btn-vault-edit" ngclipboard data-clipboard-target="#copy-Family{{$index}}">
                                Copy text
                            </button>
                            <button ng-hide="value.IsEdit" class="btn-vault-action btn-vault-edit" ng-click="value.IsEdit = !value.IsEdit">
                                Edit
                            </button>
                            <button ng-hide="!value.IsEdit" class="btn-vault-action btn-vault-save" ng-click="Save()">
                                Save
                            </button>
                            <button ng-hide="!value.IsEdit" class="btn-vault-action btn-vault-cancel btn-cancel"
                                    ng-click="Cancel()">
                                Cancel
                            </button>
                        </div>
                    </div>

                    <div class="vault-row" ng-hide="value.IsEdit" id="copy-Family{{$index}}">
                        <div class="vault-label">
                            <label>{{value.description.label}}</label>
                        </div>
                        <div class="vault-field">
                            <div class="vault-field-value">
                                <strong>
                                    {{value.description.value}} <br />
                                </strong>

                                <span ng-if="value.firstName.value">
                                    <strong> {{value.firstName.label}}: </strong> {{value.firstName.value }} <br />
                                </span>
                                <span ng-if="value.middleName.value">
                                    <strong> {{value.middleName.label}}: </strong> {{value.middleName.value }} <br />
                                </span>
                                <span ng-if="value.lastName.value">
                                    <strong> {{value.lastName.label}}: </strong> {{value.lastName.value }} <br />
                                </span>

                                <span ng-if="value.dob.value">
                                    <strong>Birthday: </strong> {{value.dob.value | date:'fullDate'}} <br />
                                </span>
                                <span ng-if="value.gender.value">
                                    <strong> {{value.gender.label}}: </strong> {{value.gender.value }} <br />
                                </span>
                                <span ng-if="value.email.value">
                                    <strong> {{value.email.label}}: </strong> {{value.email.value }} <br />
                                </span>
                                <span ng-if="value.relationship.value">
                                    <strong> {{value.relationship.label}}: </strong> {{value.relationship.value }} <br />
                                </span>


                                <span ng-if="value.note.value">
                                    <strong> {{value.note.label}}: </strong> {{value.note.value }} <br />
                                </span>

                                <div class="vault-privacy-indicator" ng-class="{'privacy-on': value.privacy.value}"
                                     bs-tooltip
                                     data-title="{{value.privacy.value?'Private (shared to nobody)':'Public (shared to friends)'}}"
                                     data-placement="bottom-left">

                                </div>
                            </div>


                        </div>
                    </div>
                    <!-- //  edit family-->
                    <div ng-hide="!value.IsEdit">
                        <div class="vault-row">
                            <div class="vault-label">
                                <label>{{value.description.label}}</label>
                            </div>
                            <div class="vault-field-edit">
                                <rgu-control type="textbox" ng-model="value.description.value">
                                </rgu-control>
                                <button class="btn-vault-privacy" ng-class="{'privacy-on': value.privacy.value}"
                                        ng-click="value.privacy.value = !value.privacy.value"
                                        bs-tooltip
                                        data-title="{{value.privacy.value?'Private (shared to nobody)':'Public (shared to friends)'}}"
                                        data-placement="bottom-left"></button>
                            </div>
                            <button class="vault-field-remove" ng-click="removeForm(value);">Remove</button>
                        </div>
                        <!-- First name -->
                        <div class="vault-row">
                            <div class="vault-label">
                                <label>{{value.firstName.label}}</label>
                            </div>
                            <div class="vault-field-edit">
                                <rgu-control type="textbox" ng-model="value.firstName.value" />
                            </div>
                        </div>
                        <!-- Middle name -->
                        <div class="vault-row">
                            <div class="vault-label">
                                <label>{{value.middleName.label}}</label>
                            </div>
                            <div class="vault-field-edit">
                                <rgu-control type="textbox" ng-model="value.middleName.value" />
                            </div>
                        </div>

                        <!-- Last name -->
                        <div class="vault-row">
                            <div class="vault-label">
                                <label>{{value.lastName.label}}</label>
                            </div>
                            <div class="vault-field-edit">
                                <rgu-control type="textbox" ng-model="value.lastName.value" />
                            </div>
                        </div>

                        <!-- D.O.B -->
                        <div class="vault-row">
                            <div class="vault-label">
                                <label>{{value.dob.label}}</label>
                            </div>
                            <div class="vault-field-edit">
                                <rgu-date-input type="combo" ng-model="value.dob.value"></rgu-date-input>

                            </div>

                        </div>


                        <div class="vault-row">
                            <div class="vault-label">
                                {{value.gender.label}}
                            </div>
                            <div class="vault-field-edit">
                                <rgu-radio-group values="['Male','Female']" ng-model="value.gender.value"></rgu-radio-group>
                            </div>
                        </div>
                        <!-- Email -->
                        <div class="vault-row">

                            <div class="vault-label">
                                <label>{{value.email.label}}</label>
                            </div>
                            <div class="vault-field-edit">
                                <rgu-control type="textbox" ng-model="value.email.value" rules="email" />
                      
                             
                            </div>

                        </div>

                        <div class="vault-row">
                            <div class="vault-label">
                                <label>{{value.relationship.label}}</label>
                            </div>
                            <div class="vault-field-edit">

                                <rgu-control type="select" class="short" options="['Father', 'Mother','Son', 'Daughter', 'Brother', 'Sister', 'Cousin', 'Husband', 'Wife', 'Uncle', 'Aunt', 'Niece', 
                             'Nephew', 'Grandmother', 'Grandfather', 'Friend', 'Father-in-law', 'Mother-in-law', 'In-law', 'Other']" ng-model="value.relationship.value" />

                            </div>
                        </div>

                        <!-- note -->
                        <div class="vault-row">
                            <div class="vault-label">
                                <label>{{value.note.label}}</label>
                            </div>
                            <div class="vault-field-edit">
                                <textarea ng-model="value.note.value"></textarea>
                            </div>
                        </div>


                    </div>

                </div>

                <!--- /// -->
                <!-- // -->
                <div class="vault-row">
                    <div class="vault-label">
                        <label> </label>

                    </div>
                    <div class="vault-field-actions">
                        <a href="#" class="vault-field-add"
                           ng-click="$event.preventDefault(); vm.AlphaRedirectTask('family.html') ">+ Add more family</a>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
