 <!-- Current Address -->
<div ng-controller="CurrentAddressController">
    <div ng-if="_form._name !='' ">

        <div class="vault-group-content" ng-repeat="value in _listForm">

            <div class="vault-row">

                <div class="vault-group-actions">
                    <button ng-hide="value.IsEdit" class="btn-vault-action btn-vault-edit" ngclipboard data-clipboard-target="#copy-current{{$index}}">
                        Copy text
                    </button>
                    <button ng-hide="value.IsEdit" class="btn-vault-action btn-vault-edit" ng-click="value.IsEdit = !value.IsEdit">
                        Edit
                    </button>
                    <button ng-hide="!value.IsEdit" class="btn-vault-action btn-vault-save" ng-click="Save()">
                        Save
                    </button>
                    <button ng-hide="!value.IsEdit" class="btn-vault-action btn-vault-cancel btn-cancel"
                            ng-click="Cancel()">
                        Cancel
                    </button>
                </div>
            </div>
            <!-- // -->
            <div class="vault-row" ng-hide="value.IsEdit" id="copy-current{{$index}}">
                <div class="vault-label">
                    <!--{{result | json}}
                    {{result.sendTo.comment | json}}-->
                    <label ng-if="$index == 0"> Current address </label>
                    <!--Son-->
                    <vault-push group="vaultGroup" list="currentAddress" form-index="{{$index}}" result="result" on-send="sendPush()" network="network"></vault-push>
                    <!---->
                </div>
                <div class="vault-field">
                    <div class="vault-field-value">
                        <span ng-if="value.description != ''">
                            <strong> Description: </strong> {{value.description }}
                        </span>

                        <div ng-show="value.description == _form._default" class="vault-is-default">default</div> <br />
                        <span ng-if="value.addressLine != ''">
                            <strong> Address line: </strong> {{value.addressLine }} <br />
                        </span>

                        <span ng-if="value.countryCity.country != ''">
                            <strong> Country: </strong> {{value.countryCity.country }} <br />
                        </span>
                        <span ng-if="value.countryCity.city != ''">
                            <strong> City: </strong> {{value.countryCity.city }} <br />
                        </span>
                        <span ng-if="value.zipCode">
                            <strong> ZIP / Postal Code: </strong> {{value.zipCode }} <br />
                        </span>
                        <span ng-if="value.instruction">
                            <strong> Additional instructions: </strong> {{value.instruction }} <br />
                        </span>
                        <span ng-if="value.startDate">
                            <!--{{value.startDate}}-->
                            <strong>From date: </strong> {{value.startDate | date:'fullDate'}} <br />
                        </span>
                     
                        <span ng-if="value.checkEndDate">
                            <strong> To date: </strong> {{value.endDate | date:'fullDate'}} <br />
                        </span>
                        <span ng-if="value.note != ''">
                            <strong> Note: </strong> {{value.note }} <br />
                        </span>
                        <div class="vault-privacy-indicator" ng-class="{'privacy-on': value.privacy}"
                             bs-tooltip
                             data-title="{{value.privacy?'Private (shared to nobody)':'Public (shared to friends)'}}"
                             data-placement="bottom-left">

                        </div>
                    </div>

                </div>
            </div>
            <!-- //  edit Current Address -->
            <div ng-hide="!value.IsEdit">
                <div class="vault-row">
                    <div class="vault-label">
                        <label> </label>
                    </div>
                    <div class="vault-field-edit">
                        <strong> Current Address  </strong>
                        <button class="btn-vault-privacy" ng-class="{'privacy-on': value.privacy}"
                                ng-click="value.privacy = !value.privacy"
                                bs-tooltip
                                data-title="{{value.privacy?'Private (shared to nobody)':'Public (shared to friends)'}}"
                                data-placement="bottom-left"></button>
                    </div>
                    <button class="vault-field-remove" ng-click="removeForm(value)">Remove</button>
                </div>

                <div class="vault-row">
                    <div class="vault-label">
                        <label>Decription</label>
                    </div>
                    <div class="vault-field-edit">
                        <rgu-control type="textbox" ng-model="value.description">
                        </rgu-control>

                    </div>

                </div>

                <!--addressLine -->
                <div class="vault-row">
                    <div class="vault-label">
                        <label>Address Line</label>
                    </div>
                    <div class="vault-field-edit">
                        <rgu-control type="textbox" ng-model="value.addressLine" placeholder="Street #, Street Name, Unit #"></rgu-control>
                    </div>
                </div>
                <div class="vault-row">

                    <div class="vault-label">

                    </div>
                    <div class="vault-field-edit">
                        <rgu-control type="location" ng-model="value.countryCity"></rgu-control>
                    </div>
                </div>



                <div class="vault-row">

                    <div class="vault-label">
                        <label>ZIP / Postal Code</label>
                    </div>
                    <div class="vault-field-edit">
                        <rgu-control type="textbox" ng-model="value.zipCode"/>
                    </div>

                </div>
                <!--instruction -->
                <div class="vault-row">
                    <div class="vault-label">
                        <label>Additional instructions</label>
                    </div>
                    <div class="vault-field-edit">
                        <rgu-control type="textbox" ng-model="value.instruction"></rgu-control>
                    </div>
                </div>
                <!--startDate -->

                <div class="vault-row">
                    <div class="vault-label">
                        <label>From date</label>
                    </div>
                    <div class="vault-field-edit">
                        <!-- <rgu-control type="datedmy" ng-model="value.startDate"></rgu-control>-->
                        <rgu-date-input type="combo" ng-model="value.startDate"></rgu-date-input>
                    </div>
                </div>
                <div class="vault-row">
                    <div class="vault-label">
                        <label>Specify End Date </label>
                    </div>
                    <div class="vault-field-edit">
                        <label class="checkbox-square"><input type="checkbox" ng-model="value.checkEndDate"  /><span></span></label>
                        <!--<rgu-control type="checkbox" ng-model="value.checkEndDate" />-->
                    </div>
                </div>
                <div class="vault-row" ng-show="value.checkEndDate">
                    <div class="vault-label">
                        <label>To date</label>
                    </div>
                    <div class="vault-field-edit">
                        <!-- <rgu-control type="datedmy" ng-model="value.endDate"></rgu-control>-->
                        <rgu-date-input type="combo" ng-model="value.endDate" after="value.startDate"></rgu-date-input>
                    </div>
                </div>
                <!-- note -->
                <div class="vault-row">
                    <div class="vault-label">
                        <label>Note</label>
                    </div>
                    <div class="vault-field-edit">
                        <textarea ng-model="value.note"></textarea>
                    </div>
                </div>

                <div class="vault-row">
                    <div class="vault-label">
                        <label>Default</label>
                    </div>
                    <div class="vault-field-edit">
                        <label class="checkbox-square"><input type="checkbox" ng-model="value._default" /><span></span></label>
                        <!--<rgu-control type="checkbox" ng-model="value._default" />-->
                    </div>
                </div>

            </div>

        </div>

        <!-- noteOnline -->
        <!-- // -->
        <div class="vault-row">
            <div class="vault-label">
                <label> </label>

            </div>
            <div class="vault-field-actions">
                <a href="#" class="vault-field-add"
                   ng-click="$event.preventDefault(); vm.AlphaRedirectTask('address_current.html') ">+ Add more Current Address</a>
            </div>
        </div>


    </div>
</div>
<!-- // -->