<div collapse-base-on-route="/api-settings" class="collapse-item">
    <div class="collapse-header">
        <a href="#/api-settings" class="regit-color" data-toggle="collapse" aria-expanded="false" data-target="#apiSettingsCollapseContent">API Settings</a>
    </div>
    <div class="collapse-content">
        <div class="collapse" id="apiSettingsCollapseContent">
        </div>
    </div>
</div>