<div collapse-base-on-route="/billing" class="collapse-item">
    <div class="collapse-header">
        <a href="#/billing" class="regit-color" data-toggle="collapse" aria-expanded="false" data-target="#billingCollapseContent">Billing</a>
    </div>
    <div class="collapse-content">
        <div class="collapse" id="billingCollapseContent">
        </div>
    </div>
</div>