

<div ng-controller="CustomerManagementController" id="customers">

@*    <div class="account-form-row">
        <div class="account-form-label">
            <span class="field-title">Master Customer List</span>
        </div>
        <div class="account-form-control control-float-right">
            <a class="account-form-link" href="/BusinessUserSystem/AnalyticsCustomerList">View</a>
        </div>
    </div>*@

    <div class="account-form-row">
        <div class="account-form-label">
            <span class="field-title">Customers by Interaction</span>
        </div>

        <div class="account-form-control  control-float-right">
            <!--<a class="account-form-link" href="#" ng-click="ActionToCampaignList();">View</a>-->
            <a class="account-form-link" href="/Campaign/ManagerCampaign">View</a>
        </div>
    </div>
</div>
