

@{
ViewBag.Title = "Charge";
Layout = "~/Areas/User/Views/Shared/_LayoutDefaultBusinessApply.cshtml";

}

@section styles {

@Styles.Render("~/bundles/css/phone-input")
<link rel="stylesheet" href="~/Areas/Beta/css/billing.css?v1">
}

@section scripts {

<!--<script src="~/Areas/User/Scripts/Controllers/BillingController.js"></script>-->

}

<div class="module module-main module-account account-settings-page">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/BusinessAccount">&laquo; Business Home</a></li>
        <li class="breadcrumb-item">Billing</li>
        <li class="breadcrumb-item active">Charge</li>
    </ol>
    <h1>Charge</h1>
    <div class="billing-charge">

    </div>

</div>