@using GH.Lang;
@{
    ViewBag.Title = "Sign In Business Account";
    ViewBag.Page = "signin";
    Layout = "~/Areas/User/Views/Shared/_SigninLayoutBusiness.cshtml";
    ViewBag.BodyClass = "signin signin-business";
}

@section styles {
    <link href="@Url.Versioned("~/Areas/Beta/css/signin.css")" rel="stylesheet" />

}
@section scripts {
    @Scripts.Render("~/bundles/js/greenhouseBusiness")
    <script src="@Url.Versioned("~/Areas/User/Scripts/Controllers/BusinessSignupController.js")"></script>
    @Scripts.Render("~/bundles/login-ctrl")

}

<div class="section-public section-login">
    <div class="public-container login-container">
        <div class="public-aside">
            <div class="aside-logo">
                <img src="~/Areas/Beta/img/regit-business-logotype.svg">
            </div>
        </div>


        <div class="login-form">


            @if (!User.Identity.IsAuthenticated)
            {
                <h1>Sign In to Regit for Business</h1>
                <h2>
                    Maintaining your most valuable assets
                </h2>

                <form name="loginForm" class="public-form form-login login-form" ng-controller="SigninBusinessController">
                    <div class="public-form-row">
                        <label>Email</label>
                        <input class="login-form-input" autofocus ng-model="signModel.Email" type="email" />
                    </div>
                    <div class="public-form-row">
                        <label>Password</label>
                        <input type="password" class="login-form-input" ng-model="signModel.Password" ng-enter="signIn()" />
                    </div>

                    <div class="login-help">
                        <a href="/User/Trouble">Have trouble?</a> &middot; <a href="/BusinessAccount/Signup">
                            Sign up for
                            Regit
                        </a>
                    </div>

                    <div class="public-form-row public-form-actions">
                        <button type="submit" class="btn btn-primary public-form-btn login-form-submit" ng-click="signIn()">
                            Log In
                        </button>
                    </div>
                </form>
            }
            else
            {

                <div class="sms-auth-content signin-auth" ng-controller="ConfirmSMSEmailController">

                    <div class="otp-content">
                        <table>
                            <tr>
                                <td style="padding: 5px;">
                                    <button class="btn btn-primary" ng-disabled="sms.disable" ng-click="getOtpSms()">{{sms.buttonLabel}}</button>

                                </td>
                                <td style="padding: 5px;">
                                    <button class="btn btn-info" ng-disabled="email.disable" ng-click="getOtpEmail()">{{email.buttonLabel}}</button>
                                </td>
                            </tr>
                        </table>

                        <p ng-if="!verify.sent">
                            Choose a method to receive your PIN.
                        </p>
                        <p ng-if="verify.sent">
                            <span ng-if="verify.option == 'email'">
                                Please enter the code in email.
                            </span>
                            <span ng-if="verify.option == 'sms'">
                                Please enter the code in SMS .
                            </span>
                        </p>
                    </div>
                    <div class="sms-auth-input-row" ng-if="verify.sent">

                        <input ng-model="verify.pin" type="password" autofocus class="input-pin sms-auth-input" placeholder="_ _ _ _"
                               ng-enter="verifyOtp(verify.pin)">
                    </div>

                    <div class="button-group sms-auth-actions">
                        <button type="button" ng-click="cancelOtp()" class="btn btn-default sms-auth-btn">
                            Cancel
                        </button>
                        <button type="submit" ng-click="verifyOtp(verify.pin);" class="btn btn-primary sms-auth-btn" ng-disabled="!verify.sent">
                            Authenticate
                        </button>
                    </div>
                    <div style="padding-top:20px">
                        <span>{{verify.error}}</span>

                    </div>

                </div>
              

            }
        </div>
    </div>
</div>
