<div collapse-base-on-route="/ask-a-question" class="collapse-item">
    <div class="collapse-header">
        <a href="#/ask-a-question" class="regit-color" data-toggle="collapse" aria-expanded="false" data-target="#askQuestionCollapseContent">Ask a question</a>
    </div>
    <div class="collapse-content">
        <div class="collapse" id="askQuestionCollapseContent">
            <div class="row field">
                <div class="col-md-2">
                    <span class="field-title">Display name</span>
                </div>
                <div class="col-md-8">
                    <div>
                        <span class="field-value">Tai Do</span>
                    </div>
                    <div class="field-editor">
                        <input type="text" />
                    </div>
                    <div class="field-tools">
                        <a class="btn btn-blue">Save</a>
                        <a class="btn btn-white">Cancel</a>
                    </div>
                </div>
                <div class="col-md-2 text-right">
                    <a class="field-action regit-color"><i class="fa fa-pencil"></i> Edit</a>
                </div>
            </div>
            <hr />
            <div class="row field">
                <div class="col-md-2">
                    <span class="field-title">Broadcast status</span>
                </div>
                <div class="col-md-8">
                    <div>
                        <span class="field-value">I am Online</span>
                    </div>
                </div>
                <div class="col-md-2 text-right">
                    <a class="field-action regit-color">Edit</a>
                </div>
            </div>
            <hr />
            <div class="row field">
                <div class="col-md-2">
                    <span class="field-title">City and Country</span>
                </div>
                <div class="col-md-8">
                    <div>
                        <span class="field-value">Ho Chi Minh City, Vietnam</span>
                    </div>
                </div>
                <div class="col-md-2 text-right">
                    <a class="field-action regit-color">Edit</a>
                </div>
            </div>
            <hr />
            <div class="row field">
                <div class="col-md-2">
                    <span class="field-title">Profile picture</span>
                </div>
                <div class="col-md-8">
                    <div class="profile-picture">
                        <img src="~/Areas/User/Content/Images/no-pic.png" />
                    </div>
                </div>
                <div class="col-md-2 text-right">
                    <a class="field-action regit-color">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>