@model string
@{
    ViewBag.Title = "ResetPassword";
}

<div ng-app="myApp">
    <h2>Reset Password</h2>
    <div class="row" ng-controller="ResetPasswordController">
        <div class="col-xs-12 col-md-6">
            <form name="resetForm">
                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" placeholder="Email" ng-model="resetModel.Email" />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Password" ng-model="resetModel.Password" />
                </div>
                <div class="form-group">
                    <label>Reset Code</label>
                    <input type="text" class="form-control" placeholder="Reset Code" ng-model="resetModel.Token" ng-init="resetModel.Token = '@Model'" />
                </div>
                <a ng-click="reset()" class="btn btn-default">Submit</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/AngularJS/angular-sanitize.min.js"></script>
    <script src="~/Scripts/GreenHouse/Modules/User/UserModule.js"></script>
    <script src="~/Scripts/GreenHouse/Modules/User/AuthorizationService.js"></script>
    <script src="~/Scripts/GreenHouse/Modules/User/UserManagementService.js"></script>
    <script src="~/Areas/Frontend/Scripts/login-ctrl.js"></script>
}
