@{
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
    //Layout = "~/Areas/regitUI/indexBusiness.cshtml";
}
@*<a href="~/Areas/regitUI/index-business.html">~/Areas/regitUI/index-business.html</a>*@